@import url("https://use.typekit.net/wku5qsy.css");

body {
  background: #faf3dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fbf4df;
  width: 375px;
  height: 700px;
  border-radius: 40px;
  text-align: center;
     position: relative;
  padding-bottom: 120px; 
}

.logo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
    padding-top: 30px; 
}

.logo img {
width: 275px;
height: auto;
}

h1 {
  font-size: 35px;
  color: #333;
  margin-bottom: 16px;
  text-align: center;
  font-family: "omnes-pro", sans-serif;
font-weight: 700;
font-style: normal;
}

h2 {
  font-size: 20px;
  color: #666;
  margin-bottom: 32px;
  text-align: center;
  font-family: "omnes-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.start {
  margin-top: 80px;
}

.start a {
  background:#351303;
  color:#fff;
  padding:30px 80px;
  border-radius:40px;
  font-size:24px;
  text-decoration:none;
  display:inline-block;
}


.topbar {
display: flex; 
justify-content: space-between;
align-items: center;
padding-top: 35px;
}

.nieuws {
font-family: "omnes-pro", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;
text-align: left;
padding-left: 10px;
margin-top: 30px;
}

.newsimg {
width: 383.34px;
height: 157.91px;
border-radius: 18px;


}


.producten {

font-family: "omnes-pro", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;
text-align: left;
padding-left: 35px;
margin-top: 30px;


}


.cap {
width: 289px;
height: 293px;
border-radius: 20px;


}

.price {

font-family: "omnes-pro", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 20px;

}

.circles {

display: flex;
gap: 8px;
justify-content: center;


}

.circle {

width: 10px;
height: 10px;
border-radius: 10px;
 background-color: grey; 
 margin-bottom: 20px;

}


.search {
display: flex;
align-items: center;
  gap: 12px;

  width: 90%;
  height: 50px;

  background: #EEF1F4;
  border-radius: 15px; 
  padding: 0 16px;

  font-family: "omnes-pro", sans-serif;
  color: #999;
}

.pop{

  display: flex; 
justify-content: space-between;
align-items: center;
padding-top: 35px;
font-family: omnes-pro, sans-serif;
font-weight: 700;
}


/* Bottom navigatie bar */

.bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 360px;
  height: 80px;

  background: #351303;
  border-radius: 45px; 

  display: flex;
  justify-content: space-between; 
  align-items: center;

  padding: 0 40px;

}


.bar a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar img {
  width: 26px;
  height: 26px;
}

