@import url("https://use.typekit.net/wku5qsy.css");

body {
  background: #faf3dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fbf4df;
  width: 375px;
  height: 700px;
  border-radius: 40px;
  padding: 320px 24px 40px; 
  text-align: center;
}

.logo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
width: 275px;
height: auto;
}

h1 {
  font-size: 35px;
  color: #333;
  margin-bottom: 16px;
  text-align: center;
  font-family: "omnes-pro", sans-serif;
font-weight: 700;
font-style: normal;
}

h2 {
  font-size: 20px;
  color: #666;
  margin-bottom: 32px;
  text-align: center;
  font-family: "omnes-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.start {
  margin-top: 80px;
}

.start a {
  background:#351303;
  color:#fff;
  padding:30px 80px;
  border-radius:40px;
  font-size:24px;
  text-decoration:none;
  display:inline-block;
}


.topbar {
display: flex; 
justify-content: space-between;
align-items: center;
  padding: 26px 22px 10px;
}